body {
    color: rgb(0, 0, 0);
    background: rgb(151, 150, 226);
    margin: 5px;
    font-family: "Delius", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 5px rgb(175, 82, 204, 0.897);
    padding: 10px;
    font-size: 32px;
    color: rgb(180, 122, 202);
}


.chamada {
    background: rgba(188, 35, 235, 0.788);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}


.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(151, 150, 226);
}

.categoria h2 {
    color: rgb(151, 150, 226);
}