body {
    color:rgb(0, 0, 0);
    background:rgb(165, 240, 188);
    margin: 5px;
    font-family: "Delius", sans-serif;
}
header{
    border-bottom: solid 5px rgb(93, 223, 114);
    padding: 10px;
    font-size: 32px;
    color: rgb(45, 110, 72);
}


.chamada {
    background: rgb(94, 226, 145);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}  
.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}

img{
    height: 200px;
}
.categoria-vídeos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
padding-left: 30px;
padding-right: 30px;
}
